.card__description_type_user-card {
  display: flex;
  min-height: 78px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 22px;
}

@media screen and (max-width: 980px) {
  .card__description_type_user-card  {
    min-height: 68px;
    padding: 0 18px;
  }
}

@media screen and (max-width: 530px) {
  .card__description_type_user-card  {
    min-height: 90px;
    padding: 0 26px;
  }
}
