.root__section {
  width: calc(100% - 400px);
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .root__section {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .root__section {
    width: 95%;
  }
}
