@import url('./_type/card__like-icon_type_user-card.css');

.card__like-icon {
  cursor: pointer;
  transition: transform .3s linear;
}

.card__like-icon:hover {
  transform: scale(1.03);
}

.card__like-icon_liked {
  background: url(../../../images/like-active.svg) center no-repeat;
}
