.dropdown__carret {
  content: '';
  width: 0; 
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #a8a8a8;
  position: absolute;
  bottom: 0px;
  right: -25%;

}

@media screen and (max-width: 980px) {
  .dropdown__carret {
    left: -25%;
  }
}
