.user-info__avatar {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .user-info__avatar {
    margin-top: 40px;
  }
}
