.dropdown__mainmenu {
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown__mainmenu:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}

