.footer__link {
  margin-right: 40px;
}

.footer__link > .root__link {
  color: white;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.footer__link:last-of-type {
  margin: 0;
}