.card__delete-icon_type_user-card {
  background: url(../../../../images/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 20px;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
}
