.card__delete-icon_type_user-card {
  background: url(../../../../images/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: block;
  z-index: 5;
}
