@import url(./__avatar/user-info__avatar.css);
@import url(./__avatar-content/user-info__avatar-content.css);
@import url(./__data/user-info__data.css);
@import url(./__name/user-info__name.css);
@import url(./__job/user-info__job.css);
@import url(./__button/user-info__button.css);
@import url(./__edit-button/user-info__edit-button.css);
@import url(./__about/user-info__about.css);

.user-info {
  display: flex;
  position: relative;
  min-height: 300px;
  align-items: center;
  color: white;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .user-info {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .user-info {
    min-height: 250px;
  }
}
