.dropdown__mainmenubtn {
  position: relative;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown__mainmenubtn::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid blue;
}
