.dropdown__child {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  margin: 0px;
  border-radius: 7px;
  top: 115%;
  right: -44%;
  left: auto;
  white-space: nowrap;
  list-style-type: none;
  min-width: 200px;
  z-index: 5;
}
.dropdown:hover .dropdown__child {
  display: flex;
}

.dropdown__child:last-child {
  margin-top: 0px;
}

.dropdown__child::before {
  position: absolute;
  top: -10px;
  right: 8px;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid ;
  border-bottom: 10px solid white;
}

@media screen and (max-width: 980px) {
  .dropdown__child {
    right: 84%;
  }
}