@import url(./_type/card__like_type_top-card.css);
@import url(./_type/card__like_type_user-card.css);

.card__like {
  display: flex;
  position: relative;
}

.card__like:hover > .card__info-message {
  visibility: visible;
}
