.card__info-message {
  visibility: hidden;
  position: absolute;
  bottom : 90%;
  right: -5px;
  padding: 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  background-color: white(255, 255, 255, 0.6);
  box-shadow: 0 0 5px 5px rgba(47, 48, 110, 0.548);
}

.card__info-message::before {
  position: absolute;
  bottom: -10px;
  right: 5px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px dotted transparent;
  border-right: 10px dotted transparent;
  border-top: 10px dotted white;
}