.root__title {
    color: white;
    font-size: 45px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
  .root__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 425px) {
  .root__title {
    font-size: 25px;
  }
}