@import url('./_is-visible/user-info__edit-button_is-visible.css');

.user-info__edit-button {
  display: none;
  font-size: 12px;
  line-height: 15px;
  width: 38px;
  height: 18px;
  margin-top: 20px;
}