.dropdown__item_type_greeting {
    
}

.dropdown__item_type_greeting::before {
  color: #a8a8a8;
    content: 'Вы вошли как:'
}

.dropdown__item.dropdown__item_type_greeting:hover {
  background-color: transparent;
  opacity: 0.8;
  transition: opacity 0.2s;
}
